<div class="col-md-12 normativas-bloque">
	<div class="row">
		<div class="col-md-3 norm-cables">
			{{ content.field_cables}}
		</div>
		<div class="col-md-9 background-blanco norm-normativas">
			<div class="col-md-12">
				{{ content.field_normativas }}
			</div>
			<hr>
			<div class="col-md-12 norm-imagenes">
				{{ content.field_imagenes }}
			</div>
		</div>
	</div>
</div>
