<div class="col-md-{{ paragraph.field_ancho.value }}">
  <a href="{{ paragraph.field_enlace.0.url }}">
    <div class="card article_card">
      <div class="aspect-ratio-5-2 article_card_category_image">
        {{ content.field_imagen }}
      </div>
      <div class="card-body">
        <h4 class="card-title">{{ content.field_enlace }}</h4>
      </div>
    </div>
  </a>
</div>