<div class="col-md-6 testimonio v-center">

  <div class="col-md-12 v-center background-gris2 color-blanco">

    <div class="col-md-4 background-blanco-25">
      <h3 class="testimonio-nombre">
        {{ paragraph.field_titulo.value }}
      </h3>
      <div class="testimonio-imagen">
        {{ content.field_icono }}
      </div>
    </div>

    <div class="col-md-8">
      <div class="testimonio-descripcion">
        {{ content.field_descripcion }}
      </div>
    </div>

  </div>

</div>
