<div class="col-md-6 gama-columna">
  <div class="thumbnail">
    {{ content.field_imagen }}
    <div class="caption">
      <h4>
        {{ content.field_archivo_pdf }}
      </h4>

      <div class="h5">
        Ficha técnica
      </div>
      {{ content.field_archivo_pdf }}
    </div>
  </div>
</div>
