:root {
  /*--------------------------------- colores --------------------------------*/
  --blanco:     rgb(250, 250, 250);
  --blanco-75:  rgba(250, 250, 250, 0.75);
  --blanco-25:  rgba(250, 250, 250, 0.25);

  --gris1:      rgb(225, 222, 226);
  --gris1-75:   rgba(225, 222, 226, 0.75);
  --gris1-25:   rgba(225, 222, 226, 0.25);

  --gris2:      rgb(66, 66, 66);
  --gris2-75:   rgba(66, 66, 66, 0.75);
  --gris2-25:   rgba(66, 66, 66, 0.25);

  --negro:      rgb(33, 33, 33);
  --negro-75:   rgba(33, 33, 33, 0.75);
  --negro-25:   rgba(33, 33, 33, 0.25);

  --azul:       rgb(30, 115, 190);
  --azul-75:    rgba(30, 115, 190, 0.75);
  --azul-25:    rgba(30, 115, 190, 0.25);

  --naranja:    #E87722;

  /*--------------------------------- fuentes --------------------------------*/
  --font-1: 'Roboto Condensed', sans-serif;

  /*--------------------------- tamaños de fuente ----------------------------*/
  --body-fs: 14px;
  --h1: 3em;
  --h2: 2.25em;
  --h3: 1.75em;
  --h4: 1.125em;

  --h1-tablet: 2.5em;
  --h2-tablet: 2em;
  --h3-tablet: 1.5em;
  --h4-tablet: 1.125em;

  --h1moile: 2em;
  --h2moile: 1.625em;
  --h3moile: 1.375em;
  --h4moile: 1.125em;

  /*--------------------------------- anchos ---------------------------------*/
  --container-mw: calc(100% - 64px);
  --container-w: 100%;
}
